{% extends "base.html.twig" %}

{% block title %}
    - Inscription
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Inscrivez vous sur notre site !</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Informations générale</h2>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.picture) }}
                </div>
                <div class="alert alert-light">
                    <h2 class="alert-heading">Mot de passe</h2>
                    <hr>
                    <div class="form-group">
                        {{ form_row(form.hash) }}
                        <span class="progress-bar_pw"></span>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.passwordConfirm) }}
                        <span class="progress-bar_pwc"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Détails</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}
                    <hr>
                    <p>Si vous avez terminé vos modifications, vous pouvez les sauvegarder</p>
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-check"></i>
                        Confirmez l'inscription</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const changeText = function (el, text, color) {
            el.html(text).css('color', color);
        };

        // check difficult password

        $('#registration_hash').keyup(function () {
            let len = this.value.length;
            const pbText = $('.progress-bar_pw');

            if (len === 0) {
                $(this).css('border-color', '#2F96EF');
                changeText(pbText, null, null);
            } else if (len > 0 && len <= 4) {
                $(this).css('border-color', '#FF4B47');
                changeText(pbText, 'Sécurité : facile', '#FF4B47');
            } else if (len > 4 && len <= 8) {
                $(this).css('border-color', '#F9AE35');
                changeText(pbText, 'Sécurité : moyen', '#F9AE35');
            } else {
                $(this).css('border-color', '#2DAF7D');
                changeText(pbText, 'Sécurité :  difficile', '#2DAF7D');
            }
        })

        // check same password confirm
        $('#registration_passwordConfirm, #registration_hash').keyup(function () {
            if ($('#registration_passwordConfirm').val() === $('#registration_hash').val()) {
                $('#registration_passwordConfirm').css('border-color', '#2DAF7D');
                changeText($('.progress-bar_pwc'), '<i class="fas fa-check"></i> Mot de passe identique', '#2DAF7D');
            } else {
                $('#registration_passwordConfirm').css('border-color', '#FF4B47');
                changeText($('.progress-bar_pwc'), 'Mot de passe non identique', '#FF4B47');
            }
        })
    </script>
{% endblock %}
